html
{
  margin-left: 150px;
}

h1
{
  text-align: center;  
  padding-left: 140px;
  padding-right: 375px;
}

a
{
  padding-left: 100px;
  padding-right: 70px;
}

#banner
{
  border: solid;
  margin-left: 260px;
  // padding-left: 270px;
}
