
body {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding: 0px;
    font-family: signika;
    background-color: #03384A;
}

.backGround {
    width: 100%;
    min-height: 500px;
    height: auto;
    background-color: #FFFFFF;
    
}

/*
* === sets limit for content ===
*/
.foreGround{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding: 0px;
    padding-bottom: 20px;


}

/*
* === centers logo ===
*/
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;

}

/*
* === menu ===
*/
ul {
    display: table;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 10px solid #9B2914;
    width:100%;

}

li {
    display: table-cell;

}

li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-size: 120%;
    background-color: #D3634E;
}

li :hover {
    background-color: #F79583;
    color: #FFFFFF;
}

/*
* === sets margin for body ===
*/
.margin {
    width: 769px;
    overflow:hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding: 0px;
}

.familyHeading{
    text-align:left; 
}

.heading{
    color: #B0C077;
    font-size: 155%;
}

.line{
    height:3px;
    border:none; 
    color:#B0C077; 
    background-color:#B0C077;
    width:80%;  
    margin: 0;
    }

.picture {
    padding-top: 15px;
    float: left;
    width:50%;
}

/*
* === sizes picture ===
*/
.picture img{
    width: 91%;
    height:auto; 
}

/*
* === picture border ===
*/
.border{
   padding: 5px;
   border:2px  solid #B0C077;
}

.text1{
    width: 50%;
    float:left; 
}

.text2{
    float: left;
}

.footer{
    float: left;
    color: #B0C077;
    font-size:small; 
}


.avatar {
    width: 200px;
    height:auto; 
}
.login{
        display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}