%h2 About/Contact
%br/
%body
  %p
    Flea Palace and Thrift Store 
    %br/
    (Formally old Sadler School)
    %br/
    6830 bus. 29 N. Reidsville NC 27320
    %br/
    %br/
    Store Hours: 
    %br/ 
    Thu-Fri, 9am to 2pm
    %br/
    Sat, 8am to 5pm
  %p
    Phone: 336.432.2118
    %br/
    Email: elvismover@yahoo.com
%br/
    