%h2 Inventory Application!
%br/
%div
  %p
  Welcome to our inventory application. This application is used to store items with a maximum of 
  %br/
  1000 items. Navigate the website via the navigation bar at the top of all pages. The inventory page is the
  %br/
  main page which will list all of our items and if any items are of interest navigate to the about/contact
  %br/
  page to reach out to us.

%br/
//= link_to("Items", "/items")
