/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *
 * Feather: #77C9D4
 * Marine: #57BC90
 * Forest: #015249
 * Sleek Gray: #A5A5AF
 */
.logo {
    float:left;
} 

.logo:hover {
    background-color: transparent;
}

.nounderline {
    text-decoration: none;
}

body {
    
} 

nav_ul {
    width: 100%;
    display: block;
    font-size: large;
    text-align: right;
    list-style-type: none;
    margin-bottom: 0px;
    margin-top: 20px;
    overflow: hidden;
    color: #77C9D4;
    background-color: white;
}

nav_ul a {
    margin: 30px;
}

nav_ul a:hover {
    color: white;
    background-color: #77C9D4;
}
 

